img {
width: 300px;
}

header {
    background-color: rgb(6, 8, 7);/*cor de fundo */
    COLOR:aqua; /*cor da letra */
    text-align: center; /*alinhamento do texto*/
    max-width: 800px; /*largura máxima*/
    margin: 0 auto; /* espaço entre a borda e o cnteúdo */
    padding: 16px;  /* espaço entre o conteúdo*/
}

main{
    background-color: #FFFFFF ;
    color:#183C63 ;
     max-width: 800px;
margin: 0 auto;
padding: 16px; 
}

              .artigo-autor{
                font-weight: bold;  /*espesssura da fonte-negrito*/
        }

        article {
            display: flex;/*container flexivel*/
            }
            